{%- set schemaName = p.meta.destination.schemaName -%}
{%- set tableName = p.meta.destination.tableName -%}
{%- set columns = p.meta.destination.columns -%}
{%- set columnsPK = p.meta.destination.columnsPK -%}
{%- set columnsAll = p.meta.destination.columnsAll -%}
{%- set srcSchemaName = p.meta.source.table.schemaName -%}
{%- set srcTableName = p.meta.source.table.tableName -%}
{%- set query = p.meta.source.query -%}
{%- set srcTables = p.meta.source.sourceTables -%}
{%- set srcColumns = p.meta.source.columns -%}
{%- set srcColumnsPK = p.meta.source.columnsPK -%}
{%- set objectName = p.meta.object.name -%}
{%- set spSchema = p.meta.object.spSchema -%}
{%- set spName = p.meta.object.spName -%}
{%- set integers = ['int', 'integer', 'bigint', 'smallint', 'tinyint'] -%}
{%- set numbers = ['numeric', 'decimal'] -%}
{%- set strings = ['varchar', 'nvarchar', 'char', 'nchar'] -%}
{%- set dates = ['date'] -%}
{%- set times = ['time'] -%}
{%- set datetimes = ['datetime'] -%}
{%- set largeObjects = ['varchar', 'nvarchar', 'varbinary'] -%}
{%- set skColumnName = p.meta.object.name+'SK' -%}
# {{schemaName}}.{{tableName}}

Domain Transaction Table

> **FileName**: `{{ p.template.outputFileName }}`\
**Source**: {% if query-%}SQL query{%- else -%}`[{{srcSchemaName}}].[{{srcTableName}}]`{%- endif %}\
Author/Date: {{ p.settings.author }} {{ p.template.createdAt | dateFormat('YYYY-MM-DD') }}

**Execution sample:**

```sql
EXEC [{{spSchema}}].[{{spName}}] 'adminSession', 'ETL', NULL
```

**Table structure:**

```text
Table "{{schemaName}}.{{tableName}}" [headerColor: #2c3e50] {
  {{skColumnName}} bigint [increment]
  {{mkColumnName}} bigint [pk, note: "Master Key"]
  {%- for key in columns %}
  {{key.name}} {{key.dataType}}
  {%- if key.dataType in strings and key.characterMaximumLength > 0 -%} ({{-key.characterMaximumLength-}})
  {%- elif key.dataType in largeObjects and (not key.characterMaximumLength or key.characterMaximumLength == -1) -%} (max)
  {%- elif key.dataType in numbers and key.numericPrecision > 0 and key.numericScale > 0 -%} ({{key.numericPrecision}},{{key.numericScale-}})
  {%- endif %} {%- for pk in columnsPK -%}{%- if pk.name===key.name %}[note:"source PK"] {%- endif -%}{%- endfor -%} 
  {% endfor %}
  //// -- internal DW columns
  dwSessionNo varchar
  dwPackageName varchar
  dwStartDate datetime
  dwVersion int
  dwUpdateDate datetime
  dwHash varchar
} 
```
